@import url('https://fonts.google.com/specimen/Red+Hat+Display');
body::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
   min-height: 100%;
    width:100%;
    background-color:rgba(0,0,0,0.2)
}
body{
    font-size:16px;
    background:url('/order-summary-component-main/images/pattern-background-desktop.svg') no-repeat center -250px / cover;
    font-family: 'Red Hat Display', sans-serif;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;    
  
    .card{
        max-width:450px;
        width:100%;
        overflow: hidden;
        border-radius:14px;
        .music-info{
            .container{
                border-radius:14px;
                a:active{
                    text-decoration: none;
                    
                }
            }
            .proceed-btn{
               background-color:hsl(245, 75%, 52%);
               color:#fff;
               border-radius:14px;
            }
            .proceed-btn:active{
                opacity: 0.8;
            }
            .proceed-btn+button:active{
                color:#555 !important;
                font-weight: bold;

            }
        }

    }
}
@media(max-width:768px){
    body{
       background-image:none;
       background: url('/order-summary-component-main/images/pattern-background-mobile.svg') no-repeat center center/cover;
    }
}